@font-face {
    font-family: 'M PLUS Rounded 1c';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/m-plus-rounded-1c-v10-latin_japanese-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/m-plus-rounded-1c-v10-latin_japanese-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
:root {
    --cui-dark: #37474f;
    --cui-primary: #2ec1ac;
    --cui-danger: #d81b60;
    --cui-warn: #ff8f00;

    --cui-font-color: #2c3e50;

    --cui-gray-0: #f7f7f9;
    --cui-gray-1: #f3f3f5;
    --cui-gray-2: #e9e9eb;
    --cui-gray-3: #dfdfe1;
    --cui-gray-4: #d5d5d7;
    --cui-gray-5: #cbcbcd;

    --cui-button-radius: 12px

}

::selection {
    background: var(--cui-primary);
    color: white
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #eef2f4;
    border-radius: 4px
}
::-webkit-scrollbar-button {
      background-color: #eef2f4;
      height: 12px;
      border-radius: 4px
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-radius: 4px;
}


html, body, #app {
    height: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body {
    margin: 0;
    color: var(--cui-font-color)
}
h2 {
    margin: 0;
    font-size: 21px
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    background-color: rgba(255,255,255,0.2);
}
.loader:after {
    content: '';
    width: 17px;
    height: 17px;
    border: 2px dotted rgba(255,255,255,.6);
    border-top: 2px solid rgba(255,255,255, 0);
    border-bottom: 2px solid rgba(255,255,255, 0);
    border-right: 2px solid rgba(255,255,255, 0);
    border-radius: 50%;
    position: absolute;
    animation: btnload .6s linear infinite;
    box-sizing: border-box
}
.loader:before {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    border: 2px solid rgb(255,255,255);
    border-top: 2px solid rgba(255,255,255, 0);
    border-bottom: 2px solid rgba(255,255,255, 0);
    border-right: 2px solid rgba(255,255,255, 0);
    border-radius: 50%;
    animation: btnload .6s ease infinite;
    box-sizing: border-box
}
.ripple {
    position: absolute;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%
  }
.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(255, 255, 255) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple:active:after {
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;
}
.cui-placeholder {
    color: var(--cui-gray-5)
}


@keyframes btnload {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}



